[build]
  functions = "functions"
  publish = "public"

# Catch-all, but ignore reset.html

[[redirects]]
  from = "/index.html"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Access-Control-Allow-Headers = "Content-Type"
    Access-Control-Allow-Methods = "GET, POST, OPTIONS"

[functions]
  node_bundler = "esbuild"